@import "variables";
@import "~bootswatch/dist/materia/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/materia/bootswatch";

#app > div {
    height: 100vh;

    .row {
        &.align-items-center {
            min-height: 100vh;
        }
    }
}

table {
    th {
        h4 {
            margin-bottom: 0;
        }
    }

    td {
        .badge {
            &.status {
                .MuiSvgIcon-root {
                    font-size: 1rem;
                }
            }
        }
    }
}